html {
    font-size: 1rem;
}

body {
    margin: 0;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-ground);
    font-weight: normal;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.priceCard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.priceCard .p-card-body {
    padding: 0;
}

.p-slider .p-slider-range,
.p-slider:not(.p-disabled) .p-slider-handle:hover {
    background: #2c9b27 !important;
}

.p-slider .p-slider-handle {
    border: 2px solid #2c9b27 !important;
}

